In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
student_grades   =   pd.read_csv('hackathon_data/student-mat.csv')
student_behavior =   pd.read_csv('hackathon_data/xAPI-Edu-Data.csv')

In [3]:
print(len(student_grades))
student_grades.columns

395

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [4]:
print(len(student_behavior))
student_behavior.columns

480

Index(['gender', 'NationalITy', 'PlaceofBirth', 'StageID', 'GradeID',
       'SectionID', 'Topic', 'Semester', 'Relation', 'raisedhands',
       'VisITedResources', 'AnnouncementsView', 'Discussion',
       'ParentAnsweringSurvey', 'ParentschoolSatisfaction',
       'StudentAbsenceDays', 'Class'],
      dtype='object')

In [5]:
student_behavior = student_behavior[:395]
print(len(student_behavior))

395

In [6]:
#joining the 2 dataframes 
data = student_behavior.join(student_grades)

In [7]:
data['romantic'] = (data['romantic'] == "yes")*1

In [8]:
data['internet'] = (data['internet'] == "yes")*1

In [9]:
data['higher'] = (data['higher'] == "yes")*1

In [10]:
data['nursery'] = (data['nursery'] == "yes")*1

In [11]:
data['activities'] = (data['activities'] == "yes")*1

In [12]:
data['paid'] = (data['paid'] == "yes")*1

In [13]:
data['famsup'] = (data['famsup'] == "yes")*1

In [14]:
data['schoolsup'] = (data['schoolsup'] == "yes")*1

In [15]:
data['StudentAbsenceDays'] = (data['StudentAbsenceDays'] == "Under-7")*1

In [16]:
data['romantic'] = (data['romantic'] == "yes")*1

/home/dragneel/.local/lib/python3.5/site-packages/pandas/core/ops.py:798: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: invalid type comparison

In [17]:
data['famsize'] = (data['famsize'] == "GT3")*0

In [18]:
data.columns

Index(['gender', 'NationalITy', 'PlaceofBirth', 'StageID', 'GradeID',
       'SectionID', 'Topic', 'Semester', 'Relation', 'raisedhands',
       'VisITedResources', 'AnnouncementsView', 'Discussion',
       'ParentAnsweringSurvey', 'ParentschoolSatisfaction',
       'StudentAbsenceDays', 'Class', 'school', 'sex', 'age', 'address',
       'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason',
       'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup',
       'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet',
       'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health',
       'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [19]:
#important fields
features = ['NationalITy','Relation','raisedhands','VisITedResources','AnnouncementsView','Discussion',
            'ParentAnsweringSurvey','StudentAbsenceDays','age','traveltime','studytime','failures','schoolsup','famsize',
            'Medu','Fedu','famsup','paid','activities','nursery','higher','internet','romantic','freetime','goout','Dalc',
            'Walc','health','absences','G1','G2']

In [20]:
len(features)

31

In [21]:
x = data[features]
del x['Relation']
del x['NationalITy']
del x['famsize']
del x['ParentAnsweringSurvey']
x.head(2)

,raisedhands,VisITedResources,AnnouncementsView,Discussion,StudentAbsenceDays,age,traveltime,studytime,failures,schoolsup,...,internet,romantic,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,15,16,2,20,1,18,2,2,0,1,...,0,0,3,4,1,1,3,6,5,6
1,20,20,3,25,1,17,1,2,0,0,...,1,0,3,3,1,1,3,4,5,5

In [22]:
type(x)

pandas.core.frame.DataFrame

In [23]:
y = data['G3']

In [24]:
y.head()

0     6
1     6
2    10
3    15
4    10
Name: G3, dtype: int64

In [25]:
#checking the data types
for i in x.columns:
    print(i," : ",type(data[i][1]))

raisedhands  :  <class 'numpy.int64'>
VisITedResources  :  <class 'numpy.int64'>
AnnouncementsView  :  <class 'numpy.int64'>
Discussion  :  <class 'numpy.int64'>
StudentAbsenceDays  :  <class 'numpy.int64'>
age  :  <class 'numpy.int64'>
traveltime  :  <class 'numpy.int64'>
studytime  :  <class 'numpy.int64'>
failures  :  <class 'numpy.int64'>
schoolsup  :  <class 'numpy.int64'>
Medu  :  <class 'numpy.int64'>
Fedu  :  <class 'numpy.int64'>
famsup  :  <class 'numpy.int64'>
paid  :  <class 'numpy.int64'>
activities  :  <class 'numpy.int64'>
nursery  :  <class 'numpy.int64'>
higher  :  <class 'numpy.int64'>
internet  :  <class 'numpy.int64'>
romantic  :  <class 'numpy.int64'>
freetime  :  <class 'numpy.int64'>
goout  :  <class 'numpy.int64'>
Dalc  :  <class 'numpy.int64'>
Walc  :  <class 'numpy.int64'>
health  :  <class 'numpy.int64'>
absences  :  <class 'numpy.int64'>
G1  :  <class 'numpy.int64'>
G2  :  <class 'numpy.int64'>

In [26]:
x.head()

,raisedhands,VisITedResources,AnnouncementsView,Discussion,StudentAbsenceDays,age,traveltime,studytime,failures,schoolsup,...,internet,romantic,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,15,16,2,20,1,18,2,2,0,1,...,0,0,3,4,1,1,3,6,5,6
1,20,20,3,25,1,17,1,2,0,0,...,1,0,3,3,1,1,3,4,5,5
2,10,7,0,30,0,15,1,2,3,1,...,1,0,3,2,2,3,3,10,7,8
3,30,25,5,35,0,15,1,3,0,0,...,1,1,2,2,1,1,5,2,15,14
4,40,50,12,50,0,16,1,2,0,0,...,0,0,3,2,1,2,5,4,6,10

In [27]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

In [28]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.01,random_state=0)

In [29]:
print(len(x_train),len(x_test),len(y_train),len(y_test))

391 4 391 4

In [30]:
regressor = DecisionTreeRegressor(max_depth=10,presort=True)
regressor.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=10, max_features=None,
           max_leaf_nodes=None, min_impurity_split=1e-07,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, presort=True, random_state=None,
           splitter='best')

In [31]:
y_prediction = regressor.predict(x_test)

In [32]:
y_prediction

array([ 14.   ,  12.   ,  10.   ,  15.625])

In [33]:
y_test

329    14
318    10
317     9
65     15
Name: G3, dtype: int64

In [34]:
array = regressor.feature_importances_
for i in range(0,len(x.columns)):
   print(x.columns[i]," : ",array[i])

raisedhands  :  0.021171971229
VisITedResources  :  0.00232443961526
AnnouncementsView  :  0.0135317924352
Discussion  :  0.00203225684572
StudentAbsenceDays  :  0.00144833099095
age  :  0.0241480302595
traveltime  :  0.000259624380915
studytime  :  0.00080537133667
failures  :  0.000804792141174
schoolsup  :  0.000166808302741
Medu  :  0.00066491642898
Fedu  :  0.00110648717673
famsup  :  9.12232905613e-05
paid  :  0.000324349477551
activities  :  0.0
nursery  :  0.000662354805265
higher  :  0.0
internet  :  0.000438027731943
romantic  :  8.10873693878e-05
freetime  :  0.000341242679507
goout  :  0.00164464456291
Dalc  :  0.000158120370306
Walc  :  0.00233009714489
health  :  0.0216302971157
absences  :  0.134717711787
G1  :  0.00991540041046
G2  :  0.759200622111

In [35]:
RMSE = sqrt(mean_squared_error(y_true=y_test,y_pred=y_prediction))
print(RMSE)

1.1608859763129193

In [36]:
values = []

for i in x.columns:
    print(i," correlation : ",data['G3'].corr(data[i]))
    values.append(data['G3'].corr(data[i]))

raisedhands  correlation :  -0.0651398776439
VisITedResources  correlation :  -0.0879352201685
AnnouncementsView  correlation :  -0.0394679941066
Discussion  correlation :  0.0137232157619
StudentAbsenceDays  correlation :  -0.0733620184244
age  correlation :  -0.161579438138
traveltime  correlation :  -0.117142052816
studytime  correlation :  0.0978196896532
failures  correlation :  -0.360414940462
schoolsup  correlation :  -0.0827882149932
Medu  correlation :  0.217147496139
Fedu  correlation :  0.152456938904
famsup  correlation :  -0.0391571452379
paid  correlation :  0.101996240717
activities  correlation :  0.0160997012958
nursery  correlation :  0.0515679009109
higher  correlation :  0.182464617858
internet  correlation :  0.0984833712607
romantic  correlation :  -0.129969950163
freetime  correlation :  0.0113072403083
goout  correlation :  -0.132791473503
Dalc  correlation :  -0.0546600405667
Walc  correlation :  -0.0519393237422
health  correlation :  -0.0613346048771
absences  correlation :  0.0342473161501
G1  correlation :  0.801467932017
G2  correlation :  0.904867989269

In [37]:
values.sort()
values

[-0.36041494046164968,
 -0.16157943813834058,
 -0.13279147350332923,
 -0.12996995016344978,
 -0.11714205281614901,
 -0.087935220168544034,
 -0.082788214993163287,
 -0.073362018424350625,
 -0.065139877643890912,
 -0.061334604877121369,
 -0.054660040566735971,
 -0.051939323742246163,
 -0.039467994106605821,
 -0.039157145237904707,
 0.011307240308313026,
 0.013723215761879704,
 0.016099701295814482,
 0.034247316150069311,
 0.051567900910917536,
 0.097819689653196262,
 0.098483371260728869,
 0.10199624071669922,
 0.15245693890425902,
 0.18246461785815765,
 0.21714749613860598,
 0.80146793201741462,
 0.9048679892693009]

In [38]:

data[features].max()

NationalITy              venzuela
Relation                      Mum
raisedhands                   100
VisITedResources               99
AnnouncementsView              98
Discussion                     99
ParentAnsweringSurvey         Yes
StudentAbsenceDays              1
age                            22
traveltime                      4
studytime                       4
failures                        3
schoolsup                       1
famsize                         0
Medu                            4
Fedu                            4
famsup                          1
paid                            1
activities                      1
nursery                         1
higher                          1
internet                        1
romantic                        1
freetime                        5
goout                           5
Dalc                            5
Walc                            5
health                          5
absences                       75
G1                             19
G2                             19
dtype: object

In [66]:
positive_features = ['G2','G1','Medu','higher','studytime','age',]
negative_features = ['failures','goout','romantic','traveltime']
feature_array = ['studytime','traveltime','age','goout','romantic','higher','Medu','G1','G2','failures']

In [76]:
#User_data input
user_data=[]
user_name = input("Welcome!!! Please Enter your name: ")
user_data.append(user_name)
data1 = input("Please mention the nxo. of hours you study : ")
data2 = input("Mention your daily travel time : ")
data3 = input("What is your age : ")
data4 = input("How much of time do you spend with your friends : ")
data5 = input("Are you presently in a relationship'(yes or no)'")
data6 = input("Do you wish to pursue higher studies '(yes or no)': ")
data7 = input("On a scale of 1 to 5 what is your family education '(1 being primary to 5 being college degree)' :")
data8 = input("Mention your score in first test : ")
data9 = input("Mention your score in second test : ")
data10 = input("how many test have you failed '(1 ,2 or 3)' : ")
data11 = input("do you participate in class discussions'(give qaulitative answer'[Always , Sometimes , Never ]')'")

for i in range(1,12):
    data = "data"+str(i)
    user_data.append(globals()[data]) 
user_data

Welcome!!! Please Enter your name: John
Please mention the nxo. of hours you study : 5
Mention your daily travel time : 4
What is your age : 19
How much of time do you spend with your friends : 3
Are you presently in a relationship'(yes or no)'no
Do you wish to pursue higher studies '(yes or no)': yes
On a scale of 1 to 5 what is your family education '(1 being primary to 5 being college degree)' :5
Mention your score in first test : 17
Mention your score in second test : 18
how many test have you failed '(1 ,2 or 3)' : 0
do you participate in class discussions'(give qaulitative answer'[Always , Sometimes , Never ]')'sometimes

['John', '5', '4', '19', '3', 'no', 'yes', '5', '17', '18', '0', 'sometimes']

In [77]:
user = x_train.head(1)
user

,raisedhands,VisITedResources,AnnouncementsView,Discussion,StudentAbsenceDays,age,traveltime,studytime,failures,schoolsup,...,internet,romantic,freetime,goout,Dalc,Walc,health,absences,G1,G2
59,27,22,22,40,1,16,1,2,0,0,...,1,0,2,3,1,1,5,2,15,16

In [81]:
k=1
for i in feature_array:
    user[i]= user_data[k]
    k = k+1
user['romantic'] = (user['romantic']=='yes')*0

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [84]:
user['higher'] = (user['higher']=="yes")*1

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [85]:
user

,raisedhands,VisITedResources,AnnouncementsView,Discussion,StudentAbsenceDays,age,traveltime,studytime,failures,schoolsup,...,internet,romantic,freetime,goout,Dalc,Walc,health,absences,G1,G2
59,27,22,22,40,1,19,4,5,0,0,...,1,0,2,3,1,1,5,2,17,18

In [86]:
predict = regressor.predict(user)
predict

array([ 18.])

In [75]:
x_test

,raisedhands,VisITedResources,AnnouncementsView,Discussion,StudentAbsenceDays,age,traveltime,studytime,failures,schoolsup,...,internet,romantic,freetime,goout,Dalc,Walc,health,absences,G1,G2
329,75,85,73,80,1,17,2,3,0,0,...,1,1,3,3,1,2,4,4,14,14
318,60,97,13,3,1,17,1,3,0,0,...,1,0,3,4,2,5,5,0,11,11
317,50,90,83,13,1,18,1,3,0,0,...,1,1,3,4,1,1,5,9,9,10
65,13,5,18,19,0,16,3,2,0,0,...,1,0,4,3,1,2,1,2,16,15

In [50]:
user['raisedhands'] = 0

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/dragneel/.local/lib/python3.5/site-packages/pandas/core/series.py:747: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.loc[key] = value

In [87]:
user

,raisedhands,VisITedResources,AnnouncementsView,Discussion,StudentAbsenceDays,age,traveltime,studytime,failures,schoolsup,...,internet,romantic,freetime,goout,Dalc,Walc,health,absences,G1,G2
59,27,22,22,40,1,19,4,5,0,0,...,1,0,2,3,1,1,5,2,17,18