In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
student_grades   =   pd.read_csv('hackathon_data/student-mat.csv')
student_behavior =   pd.read_csv('hackathon_data/xAPI-Edu-Data.csv')

In [3]:
print(len(student_grades))
student_grades.columns

649

Index([u'school', u'sex', u'age', u'address', u'famsize', u'Pstatus', u'Medu',
       u'Fedu', u'Mjob', u'Fjob', u'reason', u'guardian', u'traveltime',
       u'studytime', u'failures', u'schoolsup', u'famsup', u'paid',
       u'activities', u'nursery', u'higher', u'internet', u'romantic',
       u'famrel', u'freetime', u'goout', u'Dalc', u'Walc', u'health',
       u'absences', u'G1', u'G2', u'G3'],
      dtype='object')

In [4]:
print(len(student_behavior))
student_behavior.columns

480

Index([u'gender', u'NationalITy', u'PlaceofBirth', u'StageID', u'GradeID',
       u'SectionID', u'Topic', u'Semester', u'Relation', u'raisedhands',
       u'VisITedResources', u'AnnouncementsView', u'Discussion',
       u'ParentAnsweringSurvey', u'ParentschoolSatisfaction',
       u'StudentAbsenceDays', u'Class'],
      dtype='object')

In [5]:
student_behavior = student_behavior[:395]
print(len(student_behavior))

395

In [6]:
#joining the 2 dataframes 
data = student_behavior.join(student_grades)

In [7]:
data['romantic'] = (data['romantic'] == "yes")*1

In [8]:
data['internet'] = (data['internet'] == "yes")*1

In [9]:
data['higher'] = (data['higher'] == "yes")*1

In [10]:
data['nursery'] = (data['nursery'] == "yes")*1

In [11]:
data['activities'] = (data['activities'] == "yes")*1

In [12]:
data['paid'] = (data['paid'] == "yes")*1

In [13]:
data['famsup'] = (data['famsup'] == "yes")*1

In [14]:
data['schoolsup'] = (data['schoolsup'] == "yes")*1

In [15]:
#print (data.head())
data['StudentAbsenceDays'] = (data['StudentAbsenceDays'] == "Under-7")*1

In [16]:
data['romantic'] = (data['romantic'] == "yes")*1

C:\Users\ADMIN\Anaconda2\lib\site-packages\pandas\core\ops.py:798: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: invalid type comparison

In [17]:
data['famsize'] = (data['famsize'] == "GT3")*0

In [18]:
data.columns

Index([u'gender', u'NationalITy', u'PlaceofBirth', u'StageID', u'GradeID',
       u'SectionID', u'Topic', u'Semester', u'Relation', u'raisedhands',
       u'VisITedResources', u'AnnouncementsView', u'Discussion',
       u'ParentAnsweringSurvey', u'ParentschoolSatisfaction',
       u'StudentAbsenceDays', u'Class', u'school', u'sex', u'age', u'address',
       u'famsize', u'Pstatus', u'Medu', u'Fedu', u'Mjob', u'Fjob', u'reason',
       u'guardian', u'traveltime', u'studytime', u'failures', u'schoolsup',
       u'famsup', u'paid', u'activities', u'nursery', u'higher', u'internet',
       u'romantic', u'famrel', u'freetime', u'goout', u'Dalc', u'Walc',
       u'health', u'absences', u'G1', u'G2', u'G3'],
      dtype='object')

In [19]:
#important fields
print (data.head())
features = ['NationalITy','Relation','raisedhands','VisITedResources','AnnouncementsView','Discussion',
            'ParentAnsweringSurvey','StudentAbsenceDays','age','traveltime','studytime','failures','schoolsup','famsize',
            'Medu','Fedu','famsup','paid','activities','nursery','higher','internet','romantic','freetime','goout','Dalc',
            'Walc','health','absences','G1','G2']

  gender NationalITy PlaceofBirth     StageID GradeID SectionID Topic  \
0      M          KW       KuwaIT  lowerlevel    G-04         A    IT
1      M          KW       KuwaIT  lowerlevel    G-04         A    IT
2      M          KW       KuwaIT  lowerlevel    G-04         A    IT
3      M          KW       KuwaIT  lowerlevel    G-04         A    IT
4      M          KW       KuwaIT  lowerlevel    G-04         A    IT

  Semester Relation  raisedhands ...  famrel  freetime  goout Dalc Walc  \
0        F   Father           15 ...       4         3      4    1    1
1        F   Father           20 ...       5         3      3    1    1
2        F   Father           10 ...       4         3      2    2    3
3        F   Father           30 ...       3         2      2    1    1
4        F   Father           40 ...       4         3      2    1    2

   health absences  G1  G2  G3
0       3        4   0  11  11
1       3        2   9  11  11
2       3        6  12  13  12
3       5        0  14  14  14
4       5        0  11  13  13

[5 rows x 50 columns]

In [20]:
len(features)

31

In [21]:
x = data[features]
del x['Relation']
del x['NationalITy']
del x['famsize']
del x['ParentAnsweringSurvey']
x.head(2)

,raisedhands,VisITedResources,AnnouncementsView,Discussion,StudentAbsenceDays,age,traveltime,studytime,failures,schoolsup,...,internet,romantic,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,15,16,2,20,1,18,2,2,0,1,...,0,0,3,4,1,1,3,4,0,11
1,20,20,3,25,1,17,1,2,0,0,...,1,0,3,3,1,1,3,2,9,11

In [22]:
type(x)

pandas.core.frame.DataFrame

In [23]:
y = data['G3']

In [24]:
y.head()

0    11
1    11
2    12
3    14
4    13
Name: G3, dtype: int64

In [25]:
#checking the data types
for i in x.columns:
    print(i," : ",type(data[i][1]))

('raisedhands', ' : ', <type 'numpy.int64'>)
('VisITedResources', ' : ', <type 'numpy.int64'>)
('AnnouncementsView', ' : ', <type 'numpy.int64'>)
('Discussion', ' : ', <type 'numpy.int64'>)
('StudentAbsenceDays', ' : ', <type 'numpy.int32'>)
('age', ' : ', <type 'numpy.int64'>)
('traveltime', ' : ', <type 'numpy.int64'>)
('studytime', ' : ', <type 'numpy.int64'>)
('failures', ' : ', <type 'numpy.int64'>)
('schoolsup', ' : ', <type 'numpy.int32'>)
('Medu', ' : ', <type 'numpy.int64'>)
('Fedu', ' : ', <type 'numpy.int64'>)
('famsup', ' : ', <type 'numpy.int32'>)
('paid', ' : ', <type 'numpy.int32'>)
('activities', ' : ', <type 'numpy.int32'>)
('nursery', ' : ', <type 'numpy.int32'>)
('higher', ' : ', <type 'numpy.int32'>)
('internet', ' : ', <type 'numpy.int32'>)
('romantic', ' : ', <type 'numpy.int32'>)
('freetime', ' : ', <type 'numpy.int64'>)
('goout', ' : ', <type 'numpy.int64'>)
('Dalc', ' : ', <type 'numpy.int64'>)
('Walc', ' : ', <type 'numpy.int64'>)
('health', ' : ', <type 'numpy.int64'>)
('absences', ' : ', <type 'numpy.int64'>)
('G1', ' : ', <type 'numpy.int64'>)
('G2', ' : ', <type 'numpy.int64'>)

In [26]:
x.head()

,raisedhands,VisITedResources,AnnouncementsView,Discussion,StudentAbsenceDays,age,traveltime,studytime,failures,schoolsup,...,internet,romantic,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,15,16,2,20,1,18,2,2,0,1,...,0,0,3,4,1,1,3,4,0,11
1,20,20,3,25,1,17,1,2,0,0,...,1,0,3,3,1,1,3,2,9,11
2,10,7,0,30,0,15,1,2,0,1,...,1,0,3,2,2,3,3,6,12,13
3,30,25,5,35,0,15,1,3,0,0,...,1,1,2,2,1,1,5,0,14,14
4,40,50,12,50,0,16,1,2,0,0,...,0,0,3,2,1,2,5,0,11,13

In [27]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

In [28]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.01,random_state=0)

In [29]:
print(len(x_train),len(x_test),len(y_train),len(y_test))

(391, 4, 391, 4)

In [30]:
regressor = DecisionTreeRegressor(max_depth=10,presort=True)
regressor.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=10, max_features=None,
           max_leaf_nodes=None, min_impurity_split=1e-07,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, presort=True, random_state=None,
           splitter='best')

In [31]:
y_prediction = regressor.predict(x_test)

In [32]:
y_prediction

array([ 13.,  10.,  13.,  17.])

In [33]:
y_test

329    14
318    10
317    12
65     16
Name: G3, dtype: int64

In [34]:
array = regressor.feature_importances_
for i in range(0,len(x.columns)):
   print(x.columns[i]," : ",array[i])

('raisedhands', ' : ', 0.0066167442237343322)
('VisITedResources', ' : ', 0.011553670627079295)
('AnnouncementsView', ' : ', 0.06394618433842629)
('Discussion', ' : ', 0.016488883268342629)
('StudentAbsenceDays', ' : ', 0.0027747316193167575)
('age', ' : ', 0.0031364860357954876)
('traveltime', ' : ', 0.0012083655251958491)
('studytime', ' : ', 0.002419998854438582)
('failures', ' : ', 0.00033709723545233077)
('schoolsup', ' : ', 0.0080822949460700576)
('Medu', ' : ', 0.0020248818029557783)
('Fedu', ' : ', 0.004330604818304171)
('famsup', ' : ', 0.00085327737723864716)
('paid', ' : ', 0.0010132070315583182)
('activities', ' : ', 0.0)
('nursery', ' : ', 0.00095440654787425745)
('higher', ' : ', 0.011742221269777774)
('internet', ' : ', 0.0010155054217999933)
('romantic', ' : ', 0.0001896171949419216)
('freetime', ' : ', 0.0035706168402259379)
('goout', ' : ', 0.00087372629041848344)
('Dalc', ' : ', 0.012001587673408245)
('Walc', ' : ', 0.0021480759274271747)
('health', ' : ', 0.00050564585317847198)
('absences', ' : ', 0.0076665409906290305)
('G1', ' : ', 0.01583647270892341)
('G2', ' : ', 0.8187091555774868)

In [35]:
RMSE = sqrt(mean_squared_error(y_true=y_test,y_pred=y_prediction))
print(RMSE)

0.866025403784

In [36]:
values = []

for i in x.columns:
    print(i," correlation : ",data['G3'].corr(data[i]))
    values.append(data['G3'].corr(data[i]))

('raisedhands', ' correlation : ', 0.0090503875014754376)
('VisITedResources', ' correlation : ', 0.08012839609622284)
('AnnouncementsView', ' correlation : ', -0.026801610890720497)
('Discussion', ' correlation : ', -0.028018907936914934)
('StudentAbsenceDays', ' correlation : ', 0.026111896463439976)
('age', ' correlation : ', -0.046903596805160014)
('traveltime', ' correlation : ', -0.12079523979271321)
('studytime', ' correlation : ', 0.24565850030711275)
('failures', ' correlation : ', -0.39475243730719356)
('schoolsup', ' correlation : ', -0.16122007066619617)
('Medu', ' correlation : ', 0.22467485000811066)
('Fedu', ' correlation : ', 0.14177763471317623)
('famsup', ' correlation : ', 0.097778075776275522)
('paid', ' correlation : ', -0.077653089435029507)
('activities', ' correlation : ', 0.13569257774253146)
('nursery', ' correlation : ', 0.071473923826920541)
('higher', ' correlation : ', 0.38573608519662639)
('internet', ' correlation : ', 0.056723217189201702)
('romantic', ' correlation : ', -0.078505284412537277)
('freetime', ' correlation : ', -0.09074832374844817)
('goout', ' correlation : ', -0.16041357701669381)
('Dalc', ' correlation : ', -0.22686275078652091)
('Walc', ' correlation : ', -0.21626284113603925)
('health', ' correlation : ', -0.14281011843330776)
('absences', ' correlation : ', -0.22298703963168601)
('G1', ' correlation : ', 0.81423789329726992)
('G2', ' correlation : ', 0.90470074394373434)

In [37]:
values.sort()
values

[-0.39475243730719356,
 -0.22686275078652091,
 -0.22298703963168601,
 -0.21626284113603925,
 -0.16122007066619617,
 -0.16041357701669381,
 -0.14281011843330776,
 -0.12079523979271321,
 -0.09074832374844817,
 -0.078505284412537277,
 -0.077653089435029507,
 -0.046903596805160014,
 -0.028018907936914934,
 -0.026801610890720497,
 0.0090503875014754376,
 0.026111896463439976,
 0.056723217189201702,
 0.071473923826920541,
 0.08012839609622284,
 0.097778075776275522,
 0.13569257774253146,
 0.14177763471317623,
 0.22467485000811066,
 0.24565850030711275,
 0.38573608519662639,
 0.81423789329726992,
 0.90470074394373434]

In [38]:

data[features].max()

NationalITy              venzuela
Relation                      Mum
raisedhands                   100
VisITedResources               99
AnnouncementsView              98
Discussion                     99
ParentAnsweringSurvey         Yes
StudentAbsenceDays              1
age                            22
traveltime                      4
studytime                       4
failures                        3
schoolsup                       1
famsize                         0
Medu                            4
Fedu                            4
famsup                          1
paid                            1
activities                      1
nursery                         1
higher                          1
internet                        1
romantic                        1
freetime                        5
goout                           5
Dalc                            5
Walc                            5
health                          5
absences                       32
G1                             18
G2                             19
dtype: object

In [39]:
positive_features = ['G2','G1','Medu','higher','studytime','age',]
negative_features = ['failures','goout','romantic','traveltime']

## User_data input
user_data=[]
user_name = input("Welcome!!! Please Enter your name: ")
while not(isinstance(user_name, str)):
    print "please enter a valid string"
    user_name = input("Welcome!!! Please Enter your name: ")
user_name=str(user_name)
user_data.append(user_name)
data1 = input("Please mention the no. of hours you study in a day : ")
while data1>=25:
    print "please enter a valid number of hours"
    data1=input("Please mention the number of hours you study in a day")
data2 = input("Mention your daily travel time : ")
while data2>=25:
    print "please enter a valid number of hours"
    data2=input("Mention your daily travel time : ")
data3 = input("What is your age : ")
data4 = input("How much of time do you spend with your friends : ")
while data4>=25:
    print "please enter a valid number of hours"
    data4=input("How much of time do you spend with your friends : ")

data5 = input("Are you presently in a relationship'(yes or no)'")
data6 = input("Do you wish to pursue higher studies '(yes or no)': ")
data7 = input("On a scale of 1 to 5 what is your family education '(1 being primary to 5 being a college degree)' :")
data8 = input("Mention your score in first test : ")
data9 = input("Mention your score in second test : ")
data10 = input("how many test have you failed '(1 ,2 or 3)' : ")

for i in range(1,11):
    data = "data"+str(i)
    user_data.append(globals()[data])
user_data

In [50]:
user = x_test['internet'].head(1)
user

329    1
Name: internet, dtype: int32