In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
student_grades   =   pd.read_csv('hackathon_data/student-mat.csv')
#student_behavior =   pd.read_csv('hackathon_data/xAPI-Edu-Data.csv')

In [3]:
print(len(student_grades))
student_grades.columns

395

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [4]:
#print(len(student_behavior))
#student_behavior.columns

In [5]:
#student_behavior = student_behavior[:395]
#print(len(student_behavior))

In [6]:
#joining the 2 dataframes 
data = student_grades.copy()

In [7]:
data.head(2)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6

In [8]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [9]:
data['romantic'] = (data['romantic'] == "yes")*1

In [10]:
data['higher'] = (data['higher'] == "yes")*1

In [11]:
data['activities'] = (data['activities'] == "yes")*1

In [12]:
data['paid'] = (data['paid'] == "yes")*1

In [13]:
data['famsup'] = (data['famsup'] == "yes")*1

In [14]:
data['schoolsup'] = (data['schoolsup'] == "yes")*1

In [15]:
data['famsize'] = (data['famsize'] == "GT3")*0

In [16]:
data['sex_male'] = 0
data['sex_female'] = 0

In [17]:
for i in range (0,len(data['sex'])):
    #print(data['sex'][i])
    if data['sex'][i] == "M":
        data['sex_male'][i] = 1
       # print("hi1")
        
    else :
      #  print("hi2")
        data["sex_female"][i] = 1

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [18]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3', 'sex_male',
       'sex_female'],
      dtype='object')

In [19]:
#important fields
features = ['age','sex_male','sex_female','traveltime','studytime','failures','schoolsup',
            'Medu','Fedu','famsup','activities','higher','romantic','freetime','goout','Dalc',
            'Walc','health','absences','G1','G2']

In [20]:
len(features)

21

In [21]:
x = data[features]
x.head(2)

,age,sex_male,sex_female,traveltime,studytime,failures,schoolsup,Medu,Fedu,famsup,...,higher,romantic,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,18,0,1,2,2,0,1,4,4,0,...,1,0,3,4,1,1,3,6,5,6
1,17,0,1,1,2,0,0,1,1,1,...,1,0,3,3,1,1,3,4,5,5

In [22]:
y = data['G3']

In [23]:
y.head()

0     6
1     6
2    10
3    15
4    10
Name: G3, dtype: int64

In [24]:
#checking the data types
for i in x.columns:
    print(i," : ",type(data[i][1]))

age  :  <class 'numpy.int64'>
sex_male  :  <class 'numpy.int64'>
sex_female  :  <class 'numpy.int64'>
traveltime  :  <class 'numpy.int64'>
studytime  :  <class 'numpy.int64'>
failures  :  <class 'numpy.int64'>
schoolsup  :  <class 'numpy.int64'>
Medu  :  <class 'numpy.int64'>
Fedu  :  <class 'numpy.int64'>
famsup  :  <class 'numpy.int64'>
activities  :  <class 'numpy.int64'>
higher  :  <class 'numpy.int64'>
romantic  :  <class 'numpy.int64'>
freetime  :  <class 'numpy.int64'>
goout  :  <class 'numpy.int64'>
Dalc  :  <class 'numpy.int64'>
Walc  :  <class 'numpy.int64'>
health  :  <class 'numpy.int64'>
absences  :  <class 'numpy.int64'>
G1  :  <class 'numpy.int64'>
G2  :  <class 'numpy.int64'>

In [25]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor

from math import sqrt

In [26]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.01,random_state=0)

In [27]:
print(len(x_train),len(x_test),len(y_train),len(y_test))

391 4 391 4

In [30]:
regressor = RandomForestRegressor(max_depth=10,n_estimators=150, min_samples_split=2)
regressor.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=10,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=150, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [31]:
y_prediction = regressor.predict(x_test)

In [32]:
y_prediction

array([ 14.02333333,  10.83627638,   9.064438  ,  15.26704497])

In [33]:
y_test

329    14
318    10
317     9
65     15
Name: G3, dtype: int64

In [34]:
array = regressor.feature_importances_
for i in range(0,len(x.columns)):
   print(x.columns[i]," : ",array[i])

age  :  0.0211616480936
sex_male  :  0.000844880417048
sex_female  :  0.000839706621484
traveltime  :  0.00292147902869
studytime  :  0.00819302746326
failures  :  0.00375534330981
schoolsup  :  0.00264250040296
Medu  :  0.00431114126507
Fedu  :  0.00889291209415
famsup  :  0.000895970247436
activities  :  0.00661883563469
higher  :  0.000336337869947
romantic  :  0.00285243253156
freetime  :  0.00648744377442
goout  :  0.0059966540105
Dalc  :  0.00198052466121
Walc  :  0.00459228346943
health  :  0.0117366549751
absences  :  0.119615525932
G1  :  0.0101632712666
G2  :  0.775161426931

In [35]:
RMSE = sqrt(mean_squared_error(y_true=y_test,y_pred=y_prediction))
print(RMSE)

0.4402748850693332

In [36]:
values = []

for i in x.columns:
    print(i," correlation : ",data['G3'].corr(data[i]))
    values.append(data['G3'].corr(data[i]))

age  correlation :  -0.161579438138
sex_male  correlation :  0.103455647466
sex_female  correlation :  -0.103455647466
traveltime  correlation :  -0.117142052816
studytime  correlation :  0.0978196896532
failures  correlation :  -0.360414940462
schoolsup  correlation :  -0.0827882149932
Medu  correlation :  0.217147496139
Fedu  correlation :  0.152456938904
famsup  correlation :  -0.0391571452379
activities  correlation :  0.0160997012958
higher  correlation :  0.182464617858
romantic  correlation :  -0.129969950163
freetime  correlation :  0.0113072403083
goout  correlation :  -0.132791473503
Dalc  correlation :  -0.0546600405667
Walc  correlation :  -0.0519393237422
health  correlation :  -0.0613346048771
absences  correlation :  0.0342473161501
G1  correlation :  0.801467932017
G2  correlation :  0.904867989269

In [37]:
values.sort()
values

[-0.36041494046164968,
 -0.16157943813834058,
 -0.13279147350332923,
 -0.12996995016344978,
 -0.11714205281614901,
 -0.087935220168544034,
 -0.082788214993163287,
 -0.073362018424350625,
 -0.065139877643890912,
 -0.061334604877121369,
 -0.054660040566735971,
 -0.051939323742246163,
 -0.039467994106605821,
 -0.039157145237904707,
 0.011307240308313026,
 0.013723215761879704,
 0.016099701295814482,
 0.034247316150069311,
 0.051567900910917536,
 0.097819689653196262,
 0.098483371260728869,
 0.10199624071669922,
 0.15245693890425902,
 0.18246461785815765,
 0.21714749613860598,
 0.80146793201741462,
 0.9048679892693009]

In [138]:

data[features].max()

age           22
sex_male       1
sex_female     1
traveltime     4
studytime      4
failures       3
schoolsup      1
Medu           4
Fedu           4
famsup         1
activities     1
higher         1
romantic       1
freetime       5
goout          5
Dalc           5
Walc           5
health         5
absences      75
G1            19
G2            19
dtype: int64

In [139]:
positive_features = ['G2','G1','Medu','higher','studytime','age',]
negative_features = ['failures','goout','romantic','traveltime']
feature_array = ['studytime','traveltime','age','goout','romantic','higher','Medu','G1','G2','failures']

In [ ]:
#User_data input
user_data=[]
user_name = input("Welcome!!! Please Enter your name: ")
user_data.append(user_name)
data1 = input("Please mention the nxo. of hours you study : ")

data2 = input("Mention your daily travel time : ")

data3 = input("What is your age : ")
data4 = input("How much of time do you spend with your friends : ")
    
data5 = input("Are you presently in a relationship'(yes or no)'")
data6 = input("Do you wish to pursue higher studies '(yes or no)': ")
data7 = input("On a scale of 1 to 5 what is your family education '(1 being primary to 5 being college degree)' :")
data8 = input("Mention your score in first test : ")
data9 = input("Mention your score in second test : ")
data10 = input("how many test have you failed '(1 ,2 or 3)' : ")

for i in range(1,11):
    data = "data"+str(i)
    user_data.append(globals()[data]) 
user_data

In [142]:
user = x_train.head(1)
user

,age,sex_male,sex_female,traveltime,studytime,failures,schoolsup,Medu,Fedu,famsup,...,higher,romantic,freetime,goout,Dalc,Walc,health,absences,G1,G2
59,16,0,1,1,2,0,0,4,2,1,...,1,0,2,3,1,1,5,2,15,16

In [143]:
k=1
for i in feature_array:
    user[i]= user_data[k]
    k = k+1
user['romantic'] = (user['romantic']=='yes')*0

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [144]:
user['higher'] = (user['higher']=="yes")*1

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [145]:
user

,age,sex_male,sex_female,traveltime,studytime,failures,schoolsup,Medu,Fedu,famsup,...,higher,romantic,freetime,goout,Dalc,Walc,health,absences,G1,G2
59,19,0,1,2,3,0,0,3,2,1,...,1,0,2,3,1,1,5,2,17,18

In [146]:
predict = regressor.predict(user)
predict

array([ 18.])

In [147]:
x_test

,age,sex_male,sex_female,traveltime,studytime,failures,schoolsup,Medu,Fedu,famsup,...,higher,romantic,freetime,goout,Dalc,Walc,health,absences,G1,G2
329,17,0,1,2,3,0,0,4,4,1,...,1,1,3,3,1,2,4,4,14,14
318,17,0,1,1,3,0,0,3,4,1,...,1,0,3,4,2,5,5,0,11,11
317,18,0,1,1,3,0,0,4,3,1,...,1,1,3,4,1,1,5,9,9,10
65,16,0,1,3,2,0,0,4,3,1,...,1,0,4,3,1,2,1,2,16,15

In [87]:
user

,raisedhands,VisITedResources,AnnouncementsView,Discussion,StudentAbsenceDays,age,traveltime,studytime,failures,schoolsup,...,internet,romantic,freetime,goout,Dalc,Walc,health,absences,G1,G2
59,27,22,22,40,1,19,4,5,0,0,...,1,0,2,3,1,1,5,2,17,18