In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
student_grades   =   pd.read_csv('hackathon_data/student-mat.csv')
student_behavior =   pd.read_csv('hackathon_data/xAPI-Edu-Data.csv')

In [5]:
print(len(student_grades))
student_grades.columns

649

Index([u'school', u'sex', u'age', u'address', u'famsize', u'Pstatus', u'Medu',
       u'Fedu', u'Mjob', u'Fjob', u'reason', u'guardian', u'traveltime',
       u'studytime', u'failures', u'schoolsup', u'famsup', u'paid',
       u'activities', u'nursery', u'higher', u'internet', u'romantic',
       u'famrel', u'freetime', u'goout', u'Dalc', u'Walc', u'health',
       u'absences', u'G1', u'G2', u'G3'],
      dtype='object')

In [6]:
print(len(student_behavior))
student_behavior.columns

480

Index([u'gender', u'NationalITy', u'PlaceofBirth', u'StageID', u'GradeID',
       u'SectionID', u'Topic', u'Semester', u'Relation', u'raisedhands',
       u'VisITedResources', u'AnnouncementsView', u'Discussion',
       u'ParentAnsweringSurvey', u'ParentschoolSatisfaction',
       u'StudentAbsenceDays', u'Class'],
      dtype='object')

In [7]:
student_behavior = student_behavior[:395]
print(len(student_behavior))

395

In [8]:
#joining the 2 dataframes 
data = student_behavior.join(student_grades)

In [9]:
data['romantic'] = (data['romantic'] == "yes")*1

In [10]:
data['internet'] = (data['internet'] == "yes")*1

In [11]:
data['higher'] = (data['higher'] == "yes")*1

In [12]:
data['nursery'] = (data['nursery'] == "yes")*1

In [13]:
data['activities'] = (data['activities'] == "yes")*1

In [14]:
data['paid'] = (data['paid'] == "yes")*1

In [15]:
data['famsup'] = (data['famsup'] == "yes")*1

In [16]:
data['schoolsup'] = (data['schoolsup'] == "yes")*1

In [17]:
data['StudentAbsenceDays'] = (data['StudentAbsenceDays'] == "Under-7")*1

In [22]:
data['famsize'] = (data['famsize'] == "GT3")*0

In [23]:
data.columns

Index([u'gender', u'NationalITy', u'PlaceofBirth', u'StageID', u'GradeID',
       u'SectionID', u'Topic', u'Semester', u'Relation', u'raisedhands',
       u'VisITedResources', u'AnnouncementsView', u'Discussion',
       u'ParentAnsweringSurvey', u'ParentschoolSatisfaction',
       u'StudentAbsenceDays', u'Class', u'school', u'sex', u'age', u'address',
       u'famsize', u'Pstatus', u'Medu', u'Fedu', u'Mjob', u'Fjob', u'reason',
       u'guardian', u'traveltime', u'studytime', u'failures', u'schoolsup',
       u'famsup', u'paid', u'activities', u'nursery', u'higher', u'internet',
       u'romantic', u'famrel', u'freetime', u'goout', u'Dalc', u'Walc',
       u'health', u'absences', u'G1', u'G2', u'G3'],
      dtype='object')

In [24]:
#important fields
features = ['NationalITy','Relation','raisedhands','VisITedResources','AnnouncementsView','Discussion',
            'ParentAnsweringSurvey','StudentAbsenceDays','age','traveltime','studytime','failures','schoolsup','famsize',
            'Medu','Fedu','famsup','paid','activities','nursery','higher','internet','romantic','freetime','goout','Dalc',
            'Walc','health','absences','G1','G2']

In [25]:
len(features)

31

In [26]:
x = data[features]
del x['Relation']
del x['NationalITy']
del x['famsize']
del x['ParentAnsweringSurvey']
x.head(2)

,raisedhands,VisITedResources,AnnouncementsView,Discussion,StudentAbsenceDays,age,traveltime,studytime,failures,schoolsup,...,internet,romantic,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,15,16,2,20,1,18,2,2,0,1,...,0,0,3,4,1,1,3,4,0,11
1,20,20,3,25,1,17,1,2,0,0,...,1,0,3,3,1,1,3,2,9,11

In [27]:
type(x)

pandas.core.frame.DataFrame

In [28]:
y = data['G3']

In [29]:
y.head()

0    11
1    11
2    12
3    14
4    13
Name: G3, dtype: int64

In [30]:
#checking the data types
for i in x.columns:
    print(i," : ",type(data[i][1]))

('raisedhands', ' : ', <type 'numpy.int64'>)
('VisITedResources', ' : ', <type 'numpy.int64'>)
('AnnouncementsView', ' : ', <type 'numpy.int64'>)
('Discussion', ' : ', <type 'numpy.int64'>)
('StudentAbsenceDays', ' : ', <type 'numpy.int64'>)
('age', ' : ', <type 'numpy.int64'>)
('traveltime', ' : ', <type 'numpy.int64'>)
('studytime', ' : ', <type 'numpy.int64'>)
('failures', ' : ', <type 'numpy.int64'>)
('schoolsup', ' : ', <type 'numpy.int64'>)
('Medu', ' : ', <type 'numpy.int64'>)
('Fedu', ' : ', <type 'numpy.int64'>)
('famsup', ' : ', <type 'numpy.int64'>)
('paid', ' : ', <type 'numpy.int64'>)
('activities', ' : ', <type 'numpy.int64'>)
('nursery', ' : ', <type 'numpy.int64'>)
('higher', ' : ', <type 'numpy.int64'>)
('internet', ' : ', <type 'numpy.int64'>)
('romantic', ' : ', <type 'numpy.int64'>)
('freetime', ' : ', <type 'numpy.int64'>)
('goout', ' : ', <type 'numpy.int64'>)
('Dalc', ' : ', <type 'numpy.int64'>)
('Walc', ' : ', <type 'numpy.int64'>)
('health', ' : ', <type 'numpy.int64'>)
('absences', ' : ', <type 'numpy.int64'>)
('G1', ' : ', <type 'numpy.int64'>)
('G2', ' : ', <type 'numpy.int64'>)

In [31]:
x.head()

,raisedhands,VisITedResources,AnnouncementsView,Discussion,StudentAbsenceDays,age,traveltime,studytime,failures,schoolsup,...,internet,romantic,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,15,16,2,20,1,18,2,2,0,1,...,0,0,3,4,1,1,3,4,0,11
1,20,20,3,25,1,17,1,2,0,0,...,1,0,3,3,1,1,3,2,9,11
2,10,7,0,30,0,15,1,2,0,1,...,1,0,3,2,2,3,3,6,12,13
3,30,25,5,35,0,15,1,3,0,0,...,1,1,2,2,1,1,5,0,14,14
4,40,50,12,50,0,16,1,2,0,0,...,0,0,3,2,1,2,5,0,11,13

In [32]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

In [33]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.01,random_state=0)

In [75]:
print(len(x_train),len(x_test),len(y_train),len(y_test))
print(x_train.columns)
print(y_train)

(391, 4, 391, 4)
Index([u'raisedhands', u'VisITedResources', u'AnnouncementsView',
       u'Discussion', u'StudentAbsenceDays', u'age', u'traveltime',
       u'studytime', u'failures', u'schoolsup', u'Medu', u'Fedu', u'famsup',
       u'paid', u'activities', u'nursery', u'higher', u'internet', u'romantic',
       u'freetime', u'goout', u'Dalc', u'Walc', u'health', u'absences', u'G1',
       u'G2'],
      dtype='object')
59     16
287    10
212    16
60     16
394    16
324    11
375    15
74     11
76     11
106    10
215    12
12     12
132    11
264    10
268    12
167    13
168     8
150     9
90     11
171    11
282     7
37     13
339    15
113    18
135    14
102    12
144    11
78     10
330    14
216    15
       ..
243    16
115    14
265    15
72     11
333    14
25     12
165    13
337    18
379    10
174     9
381    15
39     12
193    13
314    18
88     11
70     11
87     15
292    14
242    11
277    11
211    12
9      13
359    17
195    13
251    10
323    10
192    11
117    15
47     17
172     1
Name: G3, Length: 391, dtype: int64

In [35]:
regressor = DecisionTreeRegressor(max_depth=10,presort=True)
regressor.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=10, max_features=None,
           max_leaf_nodes=None, min_impurity_split=1e-07,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, presort=True, random_state=None,
           splitter='best')

In [36]:
y_prediction = regressor.predict(x_test)

In [37]:
y_prediction

array([ 13.,   9.,  13.,  17.])

In [68]:
type(y_test)

pandas.core.series.Series

In [39]:
array = regressor.feature_importances_
for i in range(0,len(x.columns)):
   print(x.columns[i]," : ",array[i])

('raisedhands', ' : ', 0.0055883377186129787)
('VisITedResources', ' : ', 0.014327313408161228)
('AnnouncementsView', ' : ', 0.031719661267397642)
('Discussion', ' : ', 0.016224800160989844)
('StudentAbsenceDays', ' : ', 0.00089120081622712634)
('age', ' : ', 0.034066169774722342)
('traveltime', ' : ', 0.0036738678907411305)
('studytime', ' : ', 0.0026096160493805035)
('failures', ' : ', 0.0)
('schoolsup', ' : ', 0.0012560759281610313)
('Medu', ' : ', 0.0016203651204128734)
('Fedu', ' : ', 0.0055233293876845793)
('famsup', ' : ', 0.0018645690835955803)
('paid', ' : ', 0.0012660299581475866)
('activities', ' : ', 0.0068262190179091773)
('nursery', ' : ', 0.00076478935293233579)
('higher', ' : ', 0.011742221269777774)
('internet', ' : ', 0.0001896171949419216)
('romantic', ' : ', 0.0)
('freetime', ' : ', 0.0031724207308478549)
('goout', ' : ', 0.0018502548443695747)
('Dalc', ' : ', 0.010896992267952906)
('Walc', ' : ', 0.0020975113421093428)
('health', ' : ', 0.0012738385916611166)
('absences', ' : ', 0.0074214018980830222)
('G1', ' : ', 0.013481422517288026)
('G2', ' : ', 0.8196519744078925)

In [40]:
RMSE = sqrt(mean_squared_error(y_true=y_test,y_pred=y_prediction))
print(RMSE)

1.0

In [41]:
values = []

for i in x.columns:
    print(i," correlation : ",data['G3'].corr(data[i]))
    values.append(data['G3'].corr(data[i]))

('raisedhands', ' correlation : ', 0.0090503875014754549)
('VisITedResources', ' correlation : ', 0.080128396096222826)
('AnnouncementsView', ' correlation : ', -0.026801610890720483)
('Discussion', ' correlation : ', -0.028018907936914927)
('StudentAbsenceDays', ' correlation : ', 0.026111896463439969)
('age', ' correlation : ', -0.046903596805159951)
('traveltime', ' correlation : ', -0.1207952397927132)
('studytime', ' correlation : ', 0.24565850030711275)
('failures', ' correlation : ', -0.39475243730719323)
('schoolsup', ' correlation : ', -0.16122007066619601)
('Medu', ' correlation : ', 0.2246748500081106)
('Fedu', ' correlation : ', 0.14177763471317625)
('famsup', ' correlation : ', 0.097778075776275467)
('paid', ' correlation : ', -0.077653089435029521)
('activities', ' correlation : ', 0.13569257774253138)
('nursery', ' correlation : ', 0.071473923826920541)
('higher', ' correlation : ', 0.38573608519662611)
('internet', ' correlation : ', 0.056723217189201661)
('romantic', ' correlation : ', -0.078505284412537193)
('freetime', ' correlation : ', -0.090748323748448198)
('goout', ' correlation : ', -0.16041357701669381)
('Dalc', ' correlation : ', -0.22686275078652077)
('Walc', ' correlation : ', -0.21626284113603925)
('health', ' correlation : ', -0.14281011843330771)
('absences', ' correlation : ', -0.22298703963168598)
('G1', ' correlation : ', 0.8142378932972697)
('G2', ' correlation : ', 0.90470074394373434)

In [42]:
values.sort()
values

[-0.39475243730719323,
 -0.22686275078652077,
 -0.22298703963168598,
 -0.21626284113603925,
 -0.16122007066619601,
 -0.16041357701669381,
 -0.14281011843330771,
 -0.1207952397927132,
 -0.090748323748448198,
 -0.078505284412537193,
 -0.077653089435029521,
 -0.046903596805159951,
 -0.028018907936914927,
 -0.026801610890720483,
 0.0090503875014754549,
 0.026111896463439969,
 0.056723217189201661,
 0.071473923826920541,
 0.080128396096222826,
 0.097778075776275467,
 0.13569257774253138,
 0.14177763471317625,
 0.2246748500081106,
 0.24565850030711275,
 0.38573608519662611,
 0.8142378932972697,
 0.90470074394373434]

In [43]:

data[features].max()

NationalITy              venzuela
Relation                      Mum
raisedhands                   100
VisITedResources               99
AnnouncementsView              98
Discussion                     99
ParentAnsweringSurvey         Yes
StudentAbsenceDays              1
age                            22
traveltime                      4
studytime                       4
failures                        3
schoolsup                       1
famsize                         0
Medu                            4
Fedu                            4
famsup                          1
paid                            1
activities                      1
nursery                         1
higher                          1
internet                        1
romantic                        1
freetime                        5
goout                           5
Dalc                            5
Walc                            5
health                          5
absences                       32
G1                             18
G2                             19
dtype: object

In [44]:
positive_features = ['G2','G1','Medu','higher','studytime','age',]
negative_features = ['failures','goout','romantic','traveltime']

In [47]:
#User_data input
user_data=[]
user_name = input("Welcome!!! Please Enter your name: ")
user_data.append(user_name)
data1 = input("Please mention the no. of hours you study : ")
data2 = input("Mention your daily travel time : ")
data3 = input("What is your age : ")
data4 = input("How much of time do you spend with your friends : ")
data5 = input("Are you presently in a relationship'(yes or no)'")
data6 = input("Do you wish to pursue higher studies '(yes or no)': ")
data7 = input("On a scale of 1 to 5 what is your family education '(1 being primary to 5 being college degree)' :")
data8 = input("Mention your score in first test : ")
data9 = input("Mention your score in second test : ")
data10 = input("how many test have you failed '(1 ,2 or 3)' : ")

for i in range(1,11):
    data = "data"+str(i)
    user_data.append(globals()[data])
user_data

Welcome!!! Please Enter your name: "kp"
Please mention the no. of hours you study : 6
Mention your daily travel time : 3
What is your age : 15
How much of time do you spend with your friends : 4
Are you presently in a relationship'(yes or no)'"no"
Do you wish to pursue higher studies '(yes or no)': "no"
On a scale of 1 to 5 what is your family education '(1 being primary to 5 being college degree)' :5
Mention your score in first test : 13
Mention your score in second test : 12
how many test have you failed '(1 ,2 or 3)' : 0

['kp', 6, 3, 15, 4, 'no', 'no', 5, 13, 12, 0]

In [62]:
print(x_train["raisedhands"].median())
user = {'raisedhands':int(x_train["raisedhands"].median()), 'VisITedResources':int(x_train["VisITedResources"].median()), 'AnnouncementsView':int(x_train["AnnouncementsView"].median()),
       'Discussion':int(x_train["Discussion"].median()), 'StudentAbsenceDays':int(x_train["StudentAbsenceDays"].median()), 'age':user_data[3], 'traveltime':user_data[2],
       'studytime':user_data[1], 'failures':user_data[10], 'schoolsup':int(x_train["schoolsup"].median()), 'Medu':user_data[7], 'Fedu':user_data[7], 'famsup':int(x_train["famsup"].median()),
       'paid':int(x_train["paid"].median()), 'activities':int(x_train["activities"].median()), 'nursery':int(x_train["nursery"].median()), 'higher':0, 'internet':int(x_train["internet"].median()), 'romantic':int(x_train["romantic"].median()),
       'freetime':int(x_train["freetime"].median()), 'goout':user_data[4], 'Dalc':int(x_train["Dalc"].median()), 'Walc':int(x_train["Walc"].median()), 'health':int(x_train["health"].median()), 'absences':int(x_train["absences"].median()), 'G1':user_data[8],
       'G2':user_data[9]}
user

36.0

{'AnnouncementsView': 30,
 'Dalc': 1,
 'Discussion': 36,
 'Fedu': 5,
 'G1': 13,
 'G2': 12,
 'Medu': 5,
 'StudentAbsenceDays': 1,
 'VisITedResources': 54,
 'Walc': 2,
 'absences': 2,
 'activities': 1,
 'age': 15,
 'failures': 0,
 'famsup': 1,
 'freetime': 3,
 'goout': 4,
 'health': 4,
 'higher': 0,
 'internet': 1,
 'nursery': 1,
 'paid': 0,
 'raisedhands': 36,
 'romantic': 0,
 'schoolsup': 0,
 'studytime': 6,
 'traveltime': 3}

In [73]:
user = pd.Series(user)
print(user)
regressor.predict(user)

AnnouncementsView     30
Dalc                   1
Discussion            36
Fedu                   5
G1                    13
G2                    12
Medu                   5
StudentAbsenceDays     1
VisITedResources      54
Walc                   2
absences               2
activities             1
age                   15
failures               0
famsup                 1
freetime               3
goout                  4
health                 4
higher                 0
internet               1
nursery                1
paid                   0
raisedhands           36
romantic               0
schoolsup              0
studytime              6
traveltime             3
dtype: int64

/usr/lib/python2.7/dist-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([ 8.])

In [86]:
score = input("Enter your target score : ")
print(x_train[np.logical_and(y_train>=score-1,y_train<=score+1)][["goout","studytime"]])

Enter your target score : 15
     goout  studytime
59       3          2
212      4          1
60       4          2
394      3          2
375      3          3
339      2          3
135      1          1
330      1          2
216      4          2
309      5          2
293      3          3
190      4          2
107      3          3
10       3          2
345      4          2
20       1          2
276      3          1
306      5          2
56       2          2
296      4          2
336      2          2
250      2          2
358      4          1
221      2          2
355      1          2
22       1          2
229      4          2
101      3          3
307      4          2
17       2          2
..     ...        ...
209      2          2
312      5          4
201      3          2
334      4          3
69       2          4
393      3          4
340      3          1
267      5          2
119      3          1
57       2          2
321      3          3
42       3          2
363      4          1
348      3          3
342      5          2
128      5          1
202      3          2
31       1          2
32       2          2
367      3          2
147      2          1
197      3          2
243      3          3
115      4          2
265      3          3
333      3          3
381      3          3
87       3          3
292      4          3
117      2          1

[101 rows x 2 columns]